/** RESET **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** VARIABLES **/
:root {
  --color-accent: #00549E;
  --color-text: #444;
}


/** COLORS **/
a {
  color: var(--color-accent);
}

h1, h2 {
  color: var(--color-accent);
}

body {
  color: var(--color-text);
}

.skill {
  color: var(--color-accent);
  outline: 1px solid var(--color-accent);
}

/** TYPOGRAPHY **/
:root {
  font-size: 10pt;
}
body {
  font-family: Palatino, serif;
  width: 9.5in;
}

h1, h2, h3 {
  font-family: Trebuchet MS, sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1rem;
  font-weight: 500;
}

i {
  font-style: italic;
}

b {
  font-weight: 900;
}

ul {
  list-style-type:disc;
  list-style-position: inside;
}

date,
small {
  font-size: 1rem;
  font-weight: 200;
  display: block;
}

/** LISTS **/

#divSkills {
  margin-left: -0.25rem;
}

.skill {
  display: inline-block;
  padding: 0.5rem;
  padding-bottom: 0.25rem;
  margin: 0.25rem;
  font-weight: 700;
  font-size: 0.75rem;
}


/** SPACING **/
body {
  margin: 0 auto;
}
h2, h3 {
  margin-top: 2rem;
}
p {
  margin-top: 1rem;
}
h1, h2, p {
  margin-bottom: 1rem;
}
h3, date, .list-item {
  margin-bottom: 0.5rem;
}
td {
  padding-right: 2rem;
}

@media print {
    .pagebreak { page-break-before: always; } /* page-break-after works, as well */
}
